<table id="gamepad">
    <tr>
        <td><div></div></td>
        <td><button id="gamepad-up"></button></td>
        <td><div></div></td>
        <td><div></div></td>
        <td colspan="2"><button id="gamepad-shift"></button></td>
    </tr>
    <tr>
        <td><button id="gamepad-left"></button></td>
        <td></td>
        <td><button id="gamepad-right"></button></td>
        <td></td>
        <td colspan="2"><button id="gamepad-space"></button></td>
    </tr>
    <tr>
        <td></td>
        <td><button id="gamepad-down"></button></td>
    </tr>
</table>
<script src="/assets/js/gamepad.js"></script>