<table id="gamepad">
    <tr>
        <td><div></div></td>
        <td><button id="gamepad-up">Up</button></td>
        <td><div></div></td>
    </tr>
    <tr>
        <td><button id="gamepad-left">Left</button></td>
        <td></td>
        <td><button id="gamepad-right">Right</button></td>
        <td></td>
        <td colspan="2"><button id="gamepad-space">Space</button></td>
    </tr>
    <tr>
        <td></td>
        <td><button id="gamepad-down">Down</button></td>
    </tr>
</table>
<script src="/assets/js/gamepad.js"></script>