<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="MSPA To Go" property="og:title">
<meta content="MS Paint Adventures anywhere you go!" property="og:description">
<meta content="/assets/img/embed.png" property="og:image">
<meta content="summary" name="twitter:card">
<meta content="MSPA To Go" property="twitter:title">
<meta content="MS Paint Adventures anywhere you go!" property="twitter:description">
<meta content="/assets/img/embed.png" property="twitter:image">