<meta charset="UTF-8">
{% if not data.options.desktop %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endif %}
<meta property="og:site_name" content="MSPA To Go">
<meta property="og:title" content="{{ data.title ? data.title : "MSPA To Go" }}">
<meta property="og:description" content="{{ data.description ? data.description : "MS Paint Adventures anywhere you go!" }}">
<meta property="og:image" content="/assets/img/embed.png">
<meta name="twitter:card" content="summary">
<meta property="twitter:title" content="{{ data.title ? data.title ~ " - " }}MSPA To Go">
<meta property="twitter:description" content="MS Paint Adventures anywhere you go!">
<meta property="twitter:image" content="/assets/img/embed.png">