<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script>
    window.RufflePlayer.config = {
        autoplay: "auto",
        splashScreen: false,
        urlRewriteRules: [
            // Redirect MSPA links in flashes (mainly Insert disc 2 and Insert disc three)
            // back to our own site.
            [
                /(?:http(?:s|):\/\/|)(?:www\.|)mspaintadventures\.com\/(?:scratch\.php|)\?s=(.*?)&p=(.*?)$/,
                "/read/$1/$2"
            ],
            // Proxy assets
            [
                /(?:http:\/\/|)(?:www\.|cdn\.|)mspaintadventures\.com\/storyfiles\/hs2\/(.*?)$/,
                "/mspa/storyfiles/hs2/$1"
            ]
        ]
    };
</script>