<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script>
    window.RufflePlayer.config = {
        autoplay: "auto",
        urlRewriteRules: [
            // Redirect MSPA links in flashes (mainly Insert disc 2 and Insert disc three)
            // back to our own site.
            [
                /(?:http(?:s|):\/\/|)(?:www\.|)mspaintadventures\.com\/(?:scratch\.php|)\?s=(.*?)&p=(.*?)$/,
                "/read/$1/$2"
            ],
            // Proxy assets
            [
                /(?:http:\/\/|)(?:www\.|cdn\.|)mspaintadventures\.com\/storyfiles\/hs2\/(.*?)$/,
                "/mspa/storyfiles/hs2/$1"
            ]
        ],
        // Noto Sans does not look good!
        fontSources: [
            "/assets/fonts/arialbd.ttf",
            "/assets/fonts/comic.ttf",
            "/assets/fonts/comicbd.ttf",
            "/assets/fonts/courbd.ttf",
            "/assets/fonts/courbi.ttf",
            "/assets/fonts/verdana.ttf",
            "/assets/fonts/verdanab.ttf",
            "/assets/fonts/verdanai.ttf",
            "/assets/fonts/verdanaz.ttf",
            "/assets/fonts/homestuck-fonts.swf",
        ],
        defaultFonts: {
            "sans": ["Verdana", "Verdana Bold"],
            "typewriter": ["Courier New Bold", "Courier New", "Courier New_13pt_st"]
        },
    };
</script>
