@font-face {
    font-family: "Arial";
    font-weight: 700;
    src: local("Arial Bold"), url("/assets/fonts/arialbd.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-weight: 700;
    src: local("Courier New Bold"), url("/assets/fonts/courbd.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-weight: 700;
    font-style: italic;
    src: local("Courier New Bold Italic"), url("/assets/fonts/courbi.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 400;
    src: local("Verdana"), url("/assets/fonts/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 700;
    src: local("Verdana Bold"), url("/assets/fonts/verdanab.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 400;
    font-style: italic;
    src: local("Verdana Italic"), url("/assets/fonts/verdanai.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 700;
    font-style: italic;
    src: local("Verdana Bold Italic"), url("/assets/fonts/verdanaz.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans MS";
    font-weight: 400;
    src: local("Comic Sans MS"), url("/assets/fonts/comic.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans MS";
    font-weight: 700;
    src: local("Comic Sans MS Bold"), url("/assets/fonts/comicbd.ttf") format("truetype");
}

:root {
    --page-bg: #535353;
    --page-color: #000000;
    --card-bg: #efefef;
    --links-bg: #5a5a5a;
    --links-color: #ffffff;
    --links-white: #ffffff;
    --links-green: #29ff4a;
    --links-blue: #39d5f6;
    --links-orange: #ffb529;
    --candycorn-image: url("/assets/img/candycorn.gif");
    --footer-image: url("/assets/img/footer.gif");
    --footer-color: #ffffff;
    --log-border: grey;
    --log-bg: var(--card-bg);
}

:root.theme-cascade {
    --page-bg: #000000;
    --page-color: #ffffff;
    --card-bg: #262626;
    --link-color: #0066ff;
}

:root.theme-scratch {
    --page-bg: #000000;
    --page-color: #ffffff;
    --card-bg: #0e4603;
    --links-bg: #000000;
    --links-green: #ffffff;
    --links-blue: #ffffff;
    --links-orange: #ffffff;
    --link-color: #2cff4b;
    --log-bg: #000000;
    --candycorn-image: url("/assets/img/candycorn_scratch.png");
    --footer-image: url("/assets/img/scratch_footer.png");
}

:root.theme-sbahj {
    --page-bg: #0707ec;
    --card-bg: #14ff23;
    --links-bg: #000000;
    --footer-image: url("/assets/img/sbahj_footer.png");
}

:root.theme-sbahj * {
    font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif !important;
}

:root.theme-trickster {
    --page-bg: url("/assets/img/Z2.gif");
    --page-color: #f9fd6b;
    --card-bg: #ff73fd;
    --links-bg: #000000;
    --link-color: #fb060b;
    --footer-image: url("/assets/img/footer_trickster.gif");
}

:root.theme-collide {
    --page-bg: #000000;
    --page-color: #ffffff;
    --card-bg: #262626;
    --link-color: #ff0000;
}

:root.theme-act7 {
    --page-bg: #ffffff;
    --footer-color: #000000;
    --card-bg: #dbdbdb;
    --link-color: #ffffff;
    --links-bg: #f2f2f2;
    --links-color: #000000;
    --links-white: #000000;
}

:root.theme-homosuck {
    --page-bg: #042300;
    --page-color: #2ed73a;
    --card-bg: #073c00;
    --link-color: #2ed73a;
    --links-bg: #042300;
    --links-white: #2ed73a;
    --links-green: #2ed73a;
    --links-blue: #2ed73a;
    --links-orange: #2ed73a;
    --candycorn-image: url("/assets/img/a6a6_tooth.gif");
    --footer-image: url("/assets/img/footer_a6a6.png");
    --footer-color: #2ed73a;
}

body {
    margin: 0;
    background: var(--page-bg);
    display: flex;
    flex-direction: column;
}

* {
    image-rendering: crisp-edges;
}

body, table, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--page-color);
}

button, input {
    font-size: 18px;
}

:root[class*="theme-"]:not(.theme-sbahj) a {
    color: var(--link-color);
}

@keyframes scroll {
    from {
        background-position: 605px 0;
    }
    to {
        background-position: 0 0;
    }
}

#trickster-banner {
    height: 20px;
    background: url("/assets/img/trickster_banner.png") #000000;
    animation: scroll 20s linear infinite;
}

#banner {
    display: flex;
}

#banner img {
    width: 100%;
}

#menu-bar {
    background: var(--links-bg);
}

.candycorn {
    width: 32px;
    height: 32px;
    background: no-repeat var(--candycorn-image);
    background-size: 32px 32px;
}

#menu-button {
    background: transparent;
    border: 0;
    color: var(--links-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

:root.menu-open {
    overflow-x: hidden;
    overflow-y: hidden;
}

#menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

:root.menu-open #menu-container {
    pointer-events: auto;
}

#menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
    opacity: 0;
    transition: opacity .15s;
}

:root.menu-open #menu-background {
    opacity: 1;
}

#menu {
    background: var(--links-bg);
    flex: 1;
    width: 270px;
    min-height: 100%;
    box-sizing: border-box;
    padding: 8px;
    padding-top: 42px;
    z-index: 1;
    transform: translateX(-270px);
    transition: transform .15s;
}

:root.menu-open:not(.options-menu-open) #menu {
    transform: none;
}

#options-menu {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    background: var(--card-bg);
    flex: 1;
    width: 270px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 8px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: -270px;
    transition: right .15s;
}

#options-menu a {
    margin-bottom: 12px;
}

:root.options-menu-open #options-menu {
    right: 0;
}

.menu-item {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.menu-item a {
    margin-left: 4px;
}

.link-white {
    color: var(--links-white) !important;
}

.link-green {
    color: var(--links-green) !important;
}

.link-blue {
    color: var(--links-blue) !important;
}

.link-orange {
    color: var(--links-orange) !important;
}

#footer {
    display: flex;
    flex-direction: row;
    color: var(--footer-color);
    font-size: .75em;
}

#footer-image {
    min-width: 102px;
    min-height: 102px;
    background: no-repeat var(--footer-image);
}

#footer-text {
    box-sizing: border-box;
    padding: 4px;
}

#page {
    background: var(--card-bg);
}

#page img {
    max-width: 100%;
}

#page > img {
    width: 100%;
}

#title {
    margin: 0;
    padding: 20px 0;
    font-size: 32px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    text-align: center;
    margin: 0 5%;
}

:root.theme-cascade #title {
    color: #0066ff;
}

:root.theme-collide #title {
    color: #ff0000;
}

#content {
    width: 90%;
    margin: 0 auto;
}

.comic-text {
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.commands {
    padding-bottom: 30px;
    font-size: 26px;
}

:root.theme-collide .commands {
    font-size: 34px;
}

:root.theme-act7 .commands {
    font-size: 48px;
}

:root.theme-cascade .commands,
:root.theme-collide .commands,
:root.theme-homosuck .commands {
    color: #000000;
}

#page-footer {
    padding-bottom: 15px;
    font-size: .75em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

:root.theme-cascade #page-footer,
:root.theme-collide #page-footer,
:root.theme-homosuck #page-footer {
    color: #000000;
}

:root.theme-collide #page-footer,
:root.theme-act7 #page-footer {
    font-size: 1em;
}

#page-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#page-footer li:not(:last-child)::after {
    content: "|";
    margin: 0 .3em;
}

#options-link {
    margin-left: auto;
}

.adventure-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    padding-bottom: 150px;
}

.adventure-list a {
    margin-bottom: .5em;
}

.log {
    font-size: .75em;
    font-weight: 700;
    padding-bottom: 150px;
}

.search {
    text-align: center;
    padding-bottom: 150px;
}

#map {
    text-align: center;
    padding-top: .6em;
    padding-bottom: 150px;
}

#map > * {
    margin: 0 auto;
}

.read-log {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    background: var(--log-bg);
    border: 1px dashed var(--log-border);
}

.authorlog {
    background: #fff;
    border: 3px solid #c6c6c6;
}

.log-content {
    padding: 20px 5%;
    text-align: start;
}

.log-show, .log-hide {
    margin: 0 auto;
}

.read-log:not(.open) .log-content,
.read-log:not(.open) .log-hide {
    display :none;
}

.read-log.open .log-show {
    display: none;
}

.tooltip, .imgtip {
    position: absolute;
    pointer-events: none;
    max-width: 80vw;
}

.tooltip {
    background: #fff;
    color: #000;
    padding: 4px 8px;
}

#media {
    display: flex;
    flex-direction: column;
}

#media img:not(:last-child) {
    margin-bottom: 20px;
}

#media.hscroll {
    display: block;
    overflow-x: scroll;
}

#media.hscroll img {
    margin: 0;
    max-width: unset;
    height: calc(100vw * 9/13);
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#hscroll-arrow {
    font-size: 24px;
    user-select: none;
    margin: 4px;
    animation: blink 2s steps(2, start) infinite;
}

#gamepad {
    width: 100%;
    table-layout: fixed;
    margin-top: 30px;
}

#gamepad button, #gamepad div {
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 3/2;
}

#gamepad-space {
    aspect-ratio: 6/2 !important;
}

#JterniaDeploy > div, #SBURBStage {
    width: 100vw !important;
    height: calc(100vw * (9 / 13)) !important;
}

/* Transcripts */
@keyframes green-sun {
    from {
        color: #00ed4f;
    }
    to {
        color: #00d246;
    }
}

.greensun-text {
    color: #00ed4f;
    animation: green-sun 100ms steps(2, start) infinite;
}

/* Why does this have to be based on percentages? Why can't I just
   specify n keyframes and have that be the whole animation. I hate CSS. */
@keyframes trickster {
    0% {
        color: #ffd1d1;
    }
    14.2857% {
        color: #ffe6d1;
    }
    28.5714% {
        color: #fff6d1;
    }
    42.8571% {
        color: #d1ffe3;
    }
    57.1429% {
        color: #d1f9ff;
    }
    71.4286% {
        color: #d1dcff;
    }
    100% {
        color: #f0d1ff;
    }
}

.trickster-text {
    color: #ffd1d1;
    animation: trickster 350ms steps(7, start) infinite;
}

@keyframes trickster-2 {
    0% {
        color: #d1dcff;
    }
    71.4286% {
        color: #d1dcff;
    }
    100% {
        color: #f0d1ff;
    }
}

.trickster-text-2 {
    color: #d1dcff;
    animation: trickster-2 350ms steps(7, start) infinite;
}