@font-face {
    font-family: "Arial";
    font-weight: 700;
    src: local("Arial Bold"), url("/assets/fonts/arialbd.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-weight: 700;
    src: local("Courier New Bold"), url("/assets/fonts/courbd.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-weight: 700;
    font-style: italic;
    src: local("Courier New Bold Italic"), url("/assets/fonts/courbi.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 400;
    src: local("Verdana"), url("/assets/fonts/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 700;
    src: local("Verdana Bold"), url("/assets/fonts/verdanab.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 400;
    font-style: italic;
    src: local("Verdana Italic"), url("/assets/fonts/verdanai.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-weight: 700;
    font-style: italic;
    src: local("Verdana Bold Italic"), url("/assets/fonts/verdanaz.ttf") format("truetype");
}

:root {
    --page-bg: #535353;
    --page-color: #000000;
    --links-bg: #5a5a5a;
    --links-color: #ffffff;
    --links-white: #ffffff;
    --links-green: #29ff4a;
    --links-blue: #39d5f6;
    --links-yellow: #f7f72a;
    --links-orange: #ffb529;
    --candycorn-image: url("/assets/img/candycorn.gif");
    --footer-image: url("/assets/img/footer.gif");
    --footer-color: #ffffff;
}

body {
    margin: 0;
    background: var(--page-bg);
}

body, button, input, table, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--page-color);
}

#menu-container {
    background: var(--links-bg);
}

.candycorn {
    width: 32px;
    height: 32px;
    background: no-repeat var(--candycorn-image);
    background-size: 32px 32px;
    image-rendering: pixelated;
}

#menu-button {
    background: transparent;
    border: 0;
    color: var(--links-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer {
    display: flex;
    flex-direction: row;
    color: var(--footer-color);
    font-size: .75em;
}

#footer-image {
    min-width: 102px;
    min-height: 102px;
    background: no-repeat var(--footer-image);
}

#footer-text {
    box-sizing: border-box;
    padding: 4px;
}