@font-face {
    font-family: "Comic Sans MS";
    font-weight: 400;
    src: local("Comic Sans MS"), url("/assets/fonts/comic.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans MS";
    font-weight: 700;
    src: local("Comic Sans MS Bold"), url("/assets/fonts/comicbd.ttf") format("truetype");
}

body {
    margin: 0;
    background: #0707ec;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-family: "Comic Sans MS", comic, sans-serif;
}

#page {
    background: #f400ec;
}

body.desktop {
    display: block;
    font-size: 12px;
    margin: 0;
}

.desktop #page {
    width: min-content;
    min-width: 800px;
    max-width: 1300px;
    margin: 0 auto;
}

#banner {
    display: flex;
    justify-content: center;
}

body:not(.desktop) #banner img,
body:not(.desktop) #comic {
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desktop .nav {
    flex-direction: row;
}

.nav div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#comic-list {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 16px 16px 0;
    overflow: hidden;
    overflow-wrap: break-word;
}

.desktop #comic-list {
    width: 600px;
}