{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">CONTACT</h2>
<div id="content">
    <p>
        If you discover any bugs/glitches in MSPA To Go or you have any inquiries, you should contact me (aubymori).
        Here are my contact methods, listed from most to least convenient, roughly:
    </p>
    <ul>
        <li>Discord: @aubymori
            <ul>
                <li>If you are in <a href="http://discord.gg/hsofficial" target="_blank">the official Homestuck Discord server</a>,
                    you should be able to send me a DM without adding me as a friend.</li>
            </ul>
        </li>
        <li>
            <a href="https://github.com/aubymori/MSPAToGo/issues" target="_blank">GitHub issues</a>. It never wants to send me email
            notifications!!
        </li>
        <li>
            Email: <a href="mailto:aubyomori@gmail.com">aubyomori@gmail.com</a>
        </li>
    </ul>
</div>
{% endblock %}