{% extends "pageframe.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/css/archive.css">
{% endblock %}

{% block page %}
<h2 id="title">CREDITS</h2>
<div id="content">
    <div class="archive-adventure">
        <a href="https://github.com/aubymori" class="archive-image" target="_blank">
            <img src="/assets/img/credits/aubrey.png">
        </a>
        <div class="archive-info">
            <a href="https://github.com/aubymori" target="_blank" class="archive-title">AUBREY</a>
            <span class="archive-desc">
                Creator and primary developer of MSPA To Go.
            </span>
        </div>
    </div>
    <div class="archive-adventure">
        <a href="https://github.com/weedgirl68" class="archive-image" target="_blank">
            <img src="/assets/img/credits/chloe.png">
        </a>
        <div class="archive-info">
            <a href="https://github.com/weedgirl68" target="_blank" class="archive-title">CHLOE</a>
            <span class="archive-desc">
                Provided Dockerfile and hosting for main public instance (mspa.chadthundercock.com).
            </span>
        </div>
    </div>
    <div class="archive-adventure">
        <a href="https://github.com/kawapure" class="archive-image" target="_blank">
            <img src="/assets/img/credits/izzy.png">
        </a>
        <div class="archive-info">
            <a href="https://github.com/kawapure" target="_blank" class="archive-title">ISABELLA</a>
            <span class="archive-desc">
                Provided transcriptions of chat logs that were originally images for a better
                mobile reading experience.
            </span>
        </div>
    </div>
    <div class="archive-adventure">
        <a href="http://www.mspaintadventures.com/credits.html" class="archive-image" target="_blank">
            <img src="/assets/img/credits/mspa.png">
        </a>
        <div class="archive-info">
            <a href="http://www.mspaintadventures.com/credits.html" target="_blank" class="archive-title">MSPA CREDITS</a>
            <span class="archive-desc">
                View the original credits for MS Paint Adventures.
            </span>
        </div>
    </div>
</div>
{% endblock %}