<!DOCTYPE html>
<html lang="en">
    {% include "include/meta.html" %}
    {% if data.title %}
    <title>{{ data.title }} - MSPA To Go</title>
    {% else %}
    <title>MSPA To Go</title>
    {% endif %}
    <style>
        body {
            margin: 0;
            background-color: {{ data.bgcolor }};
        }

        body > :not(script) {
            display: block;
            margin: 0 auto;
        }
    </style>
    <body>
        {% from "macros/read.html" import flash %}
        {{ flash(data.swf_url, data.js_url, data.width, data.height, data.bgcolor) }}
        {% include "include/ruffle.html" %}
        {% if not data.options.desktop %}
        <script src="/assets/js/flash_size_fix.js"></script>
        {% endif %}
    </body>
</html>