{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">MSPA TO GO</h2>
<div id="content">
    <p class="comic-text">
        MSPA To Go is an application server that serves pages from the MS Paint Adventures server
        in a format that is digestible on desktop computers and mobile devices without any externa
        downloads since MS Paint Adventures site no longer works, and Homestuck.com is incredibly
        broken.
        <br><br>
        Not familiar with MSPA page numbers? VIZ page numbers will redirect you to the right MSPA
        page! For example, /homestuck/1 will take you to /read/6/001901.
        <br><br>
        MS Paint Adventures is the work of Andrew Hussie, and this website's operator nor the author of the project (aubymori)
        are associated with MS Paint Adventures, What Pumpkin, VIZ Media, or the Homestuck Independent Creative Union. MSPA To Go
        is made out of love for MSPA and a desire for it to be accessible to those using mobile devices.
    </p>
    <div class="commands">
        {% if has_adventure("6") %}
        <div class="command">
            &gt; <a href="/read/6/001901">Read Homestuck.</a>
        </div>
        {% endif %}
        <div class="command">
            &gt; <a href="/archive">Read other adventures.</a>
        </div>
    </div>
</div>
{% endblock %}