{% extends "pageframe.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block page %}
<div id="home-banner">
    If you encounter any issues, please don't hesitate to <a href="/contact">contact me</a>!
</div>
<h2 id="title">{{ data.page.title|raw }}</h2>
<div id="media">
    <img src="{{ data.page.media[0].url }}">
</div>
<div id="content" data-s="6" data-p="001901">
    {% from "macros/read.html" import read_text, read_footer, read_commands %}
    {{ read_text(data.page) }}
	<div class="commands">
        {{ read_commands(data.page) }}
	</div>
    {{ read_footer(data.page, true) }}
</div>
<div id="home-bottom">
    <a href="/log/6" id="view-all-pages">VIEW ALL PAGES</a>
    <div id="jump-to-adventure-container">
        <span>--</span>
        <select id="jump-to-adventure" onchange="location.href = '/read/' + this.value;void(0)">
            <option value="" selected="">Jump to adventure!</option>
            {% for adv in data.adventures %}
            {% if not adv.hidden and has_adventure(adv.id) %}
            <option value="{{ adv.id }}">{{ adv.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <span>--</span>
    </div>
</div>
{#
<h2 id="title">MSPA TO GO</h2>
<div id="content">
    <p class="comic-text">
        MSPA To Go is an application server that serves pages from the MS Paint Adventures server
        in a format that is digestible on desktop computers and mobile devices without any externa
        downloads since MS Paint Adventures site no longer works, and Homestuck.com is incredibly
        broken.
        <br><br>
        If you want to use the Homestuck.com page numbers, desktop mode, a different theme or font,
        and more, be sure to check out the <a href="/options">Options</a> page!
        <br><br>
        Also, if you want Homestuck.com and MSPaintAdventures.com to redirect here, be sure to check
        out <a href="https://greasyfork.org/en/scripts/546592-mspa-to-go-redirect" target="_blank">this userscript</a>!
        <br><br>
        MS Paint Adventures is the work of Andrew Hussie, and this website's operator nor the author of the project (aubymori)
        are associated with MS Paint Adventures, What Pumpkin, VIZ Media, or the Homestuck Independent Creative Union. MSPA To Go
        is made out of love for MSPA and a desire for it to be accessible to those using mobile devices.
    </p>
    <div class="commands">
        {% if has_adventure("6") %}
        <div class="command">
            &gt; <a href="{{ construct_mspa_link("6", "001901") }}">Read Homestuck.</a>
        </div>
        {% endif %}
        <div class="command">
            &gt; <a href="/archive">Read other adventures.</a>
        </div>
    </div>
</div>
#}
{% endblock %}

{% block after_page %}
<div id="page" class="news-page">
    {% include "include/news.html" %}
</div>
{% endblock %}