{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">LEGAL</h2>
<div id="content">
    <p>
        MSPA To Go is a project made by an independent developer, not associated with Andrew Hussie,
        MS Paint Adventures, What Pumpkin, VIZ Media, or the Homestuck Independent Creative Union (HICU).
        It acts as a proxy to the official MS Paint Adventures (www.mspaintadventures.com), requesting assets
        from MS Paint Adventures, transforming them as needed, then sending them to the user. <b>Only a small
        portion of MSPA comic content is stored permanently on the server.</b> This includes:
    </p>
    <ul>
        <li>Transcriptions of certain chat logs for a better reading experience on mobile devices</li>
    </ul>
    <p>
        Some other assets taken from MSPA are also stored on the server. These include:
    </p>
    <ul>
        <li>Images and audio used for the pageframe (some of which are modified).</li>
        <li>
            The JavaScript code and images used for the fireflies from pages 009000 to 009024
            and pages 009289 to 009303.
        </li>
    </ul>
</div>
{% endblock %}