{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">OPTIONS</h2>
<div id="content" style="padding: 20px 0">
    <form action="" method="post">
        <input id="auto-open-logs" name="auto-open-logs" type="checkbox" {{ data.autologs_opt ? "checked" : "" }}>
        <label for="auto-open-logs">Automatically open logs</label>
        <br><br>
        <label for="theme">Theme override:</label>
        <br>
        {# Can't select a value with the select element itself. What a fucking joke. #}
        {% macro opt(val, name, selected) %}
        <option value="{{ val }}" {{ selected == val ? 'selected="selected"' : '' }}>{{ name }}</option>
        {% endmacro %}
        <select name="theme" id="theme">
            {{ _self.opt("default", "Default", data.theme_opt) }}
            {{ _self.opt("scratch", "Scratch", data.theme_opt) }}
            {{ _self.opt("sbahj", "SBAHJ", data.theme_opt) }}
            {{ _self.opt("cascade", "Cascade", data.theme_opt) }}
            {{ _self.opt("trickster", "Trickster Mode", data.theme_opt) }}
            {{ _self.opt("homosuck", "HOMOSUCK", data.theme_opt) }}
            {{ _self.opt("collide", "Collide", data.theme_opt) }}
            {{ _self.opt("act7", "ACT 7", data.theme_opt) }}
        </select>
        <br><br>
        <input id="override-theme" name="override-theme" type="checkbox" {{ data.theme_override ? "checked" : "" }}>
        <label for="override-theme">Override page-specific themes</label>
        <br><br>
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}