{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">OPTIONS</h2>
<div id="content" style="padding: 20px 0">
    <form action="" method="post">
        {% for name in data.optionSchema|keys %}
            {% set option = data.optionSchema[name] %}

            {% set available = (not option.platform)
                or (data.options.desktop and option.platform == "desktop")
                or (not data.options.desktop and option.platform == "mobile") %}

            {% if available %}
            
            {% if option.type == "checkbox" %}
                <input type="checkbox" id="{{ name }}" name="{{ name }}" {{ option.value ? "checked" }}>
                <label for="{{ name }}"><b>{{ option.name }}</b></label>
                <br>
                <span>{{ option.description }}</span>
            {% elseif option.type == "dropdown" %}
                <label for="{{ name }}"><b>{{ option.name }}</b></label>
                <br>
                <span>{{ option.description }}</span>
                <br>
                <select name="{{ name }}" id="{{ name }}">
                    {% for ddOption in option.options|keys %}
                    <option value="{{ ddOption }}" {{ option.value == ddOption ? 'selected="selected"' }}>{{ option.options[ddOption] }}</option>
                    {% endfor %}
                </select>
            {% elseif option.type == "slider" %}
                <label for="{{ name }}"><b>{{ option.name }}</b>:</label>
                <span id="{{ name }}-value">{{ option.valueNames[option.value] }}</span>
                <br>
                <span>{{ option.description }}</span>
                <br>
                <input type="range"
                       name="{{ name }}"
                       id="{{ name }}"
                       value="{{ option.value }}"
                       min="0"
                       max="{{ option.max }}"
                       data-value-names="{{ option.valueNames|join(",") }}">
            {% endif %}
            <br><br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Save">
    </form>
</div>
<script src="/assets/js/options.js"></script>
{% endblock %}