{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">OPTIONS</h2>
<div id="content" style="padding: 20px 0">
    <form action="" method="post">
        {% for name in data.optionSchema|keys %}
        {% set option = data.optionSchema[name] %}
        {% if option.type == "checkbox" %}
        <input type="checkbox" id="{{ name }}" name="{{ name }}" {{ option.value ? "checked" }}>
        <label for="{{ name }}">{{ option.name }}</label>
        {% elseif option.type == "dropdown" %}
        <label for="{{ name }}">{{ option.name }}:</label>
        <br>
        <select name="{{ name }}" id="{{ name }}">
            {% for ddOption in option.options|keys %}
            <option value="{{ ddOption }}" {{ option.value == ddOption ? 'selected="selected"' }}>{{ option.options[ddOption] }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <br><br>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}