<!DOCTYPE html>
<html lang="en" class="{% if data.theme %}theme-{{ data.theme }}{% endif %} font-{{ data.options.font }}">
    <head>
        {% include "include/meta.html" %}
        {% if data.title %}
        <title>{{ data.title }} - MSPA To Go</title>
        {% else %}
        <title>MSPA To Go</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/css/core.css">
        {% if data.banner.imgtip %}
        <link rel="preload" href="{{ data.banner.imgtip }}" as="image">
        {% endif %}
        {% block css %}{% endblock %}
    </head>
    <body class="{{ data.options.desktop ? "desktop" }} {% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>
        {% if data.theme == "trickster" %}
        <div id="trickster-banner"></div>
        <script src="/assets/js/trickster_banner.js"></script>
        {% endif %}
        {% if data.banner %}
        <div id="banner"
{% if data.banner.tooltip %}
            title="{{ data.banner.tooltip }}"
{% elseif data.banner.imgtip %}
            data-img-tooltip="{{ data.banner.imgtip }}"
{% endif %}
        >
            <img src="{{ data.banner.image }}">
        </div>
        {% endif %}
        <div id="menu-container">
            <div id="menu-background"></div>
            <div id="message-box">
                <div id="message-box-content"></div>
                <button id="message-box-dismiss">Dismiss</button>
            </div>
            {% if not data.options.desktop %}
            <div id="menu-background-2"></div>
            <div id="menu">
                {% for link in data.links %}
                    <div class="menu-item">
                        <div class="candycorn"></div>
                        <a href="{{ link.url }}" {{ link.newtab ? 'target="_blank"' }} class="link-{{ link.color }}">{{ link.text }}</a>
                    </div>
                {% endfor %}
            </div>
            <div id="options-menu">
                <div class="option-row">
                    <a href="javascript:void(0)" id="save-game">Save Game</a>
                    <a href="javascript:void(0)" id="save-game-help">(?)</a>
                </div>
                <div class="option-row">
                    <a href="javascript:void(0)" id="auto-save">Auto-Save!</a>
                    <a href="javascript:void(0)" id="auto-save-help">(?)</a>
                </div>
                <a href="javascript:void(0)" id="load-game">Load Game</a>
                <a href="javascript:void(0)" id="delete-game-data">Delete Game Data</a>
            </div>
            {% endif %}
        </div>
        <div id="page-wrapper">
        <div id="menu-bar">
            {% if data.options.desktop %}
                {% set links %}
                {% for link in data.links %}
                <a href="{{ link.url }}" {{ link.newtab ? 'target="_blank"' }} class="link-{{ link.color }}">{{ link.text }}</a>
                {% if not loop.last %}
                    {% if data.links[loop.index].color == link.color %}
                    <div class="separator">|</div>
                    {% else %}
                    <div class="candycorn"></div>
                    {% endif %}
                {% endif %}
                {% endfor %}
                {% endset %}
                {{ links }}
                {% if data.x2combo %}
                <div class="candycorn"></div>
                {{ links }}
                {% endif %}
            {% else %}
            <button id="menu-button">
                <div class="candycorn"></div>
                <span>MENU</span>
            </button>
            {% endif %}
        </div>
        <div id="page-outer">
            {% block before_page %}{% endblock %}
            <div id="page">
                {% block page %}{% endblock %}
            </div>
            {% block after_page %}{% endblock %}
        </div>
        {% include "include/footer.html" %}
        </div>
        {% include "include/ruffle.html" %}
        <script src="/assets/js/core.js"></script>
        {% if not data.options.desktop %}
        <script src="/assets/js/flash_size_fix.js"></script>
        {% endif %}
        {% if data.options.highcontrast %}
        <script src="/assets/js/color-class.min.js"></script>
        <script src="/assets/js/high_contrast.js"></script>
        {% endif %}
        <script src="/assets/js/viz_message.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>