<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="MSPA To Go" property="og:title">
        <meta content="MS Paint Adventures on your mobile phone!" property="og:description">
        <meta content="/assets/img/embed.png" property="og:image">
        <meta content="summary" name="twitter:card">
        <meta content="MSPA To Go" property="twitter:title">
        <meta content="MS Paint Adventures on your mobile phone!" property="twitter:description">
        <meta content="/assets/img/embed.png" property="twitter:image">
        <title>MSPA To Go</title>
        <link rel="stylesheet" href="/assets/css/core.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="menu-container">
            <button id="menu-button">
                <div class="candycorn"></div>
                <span>MENU</span>
            </button>
        </div>
    </body>
</html>