{% extends "pageframe.html" %}

{% block css %}
<style>
    #content {
        text-align: center;
        padding-top: 1em;
    }
</style>
{% endblock %}

{% block page %}
<h2 id="title">[???????]</h2>
<div id="media">
    <img src="/mspa/storyfiles/hs2/scraps/pwimg.gif">
</div>
<div id="content">
    <form action="">
        3NT3R P4SSWORD:
        <br>
        <input type="text" name="pw">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    {% if data.wrong_pw %}
    &lt;- <b>WRONG!</b> GO B4CK!!!
    {% else %}
    &lt;- OR GO B4CK!!!
    {% endif %}
    <br>
    <br>
    <div class="read-log">
        <button class="log-show">P4SSWORD H1NT</button>
        <button class="log-hide">P4SSWORD H1NT</button>
        <p class="log-content comic-text">
            <span style="color: #008282;">
                1F YOU DON'T KNOW TH3 P4SSWORD Y3T, 1T M34NS YOU'R3 NOT SUPPOS3D TO, DUMMY! GO B4CK!!!
            </span>
        </p>
    </div>
</div>
{% endblock %}