{% extends "pageframe.html" %}

{% block page %}
<h2 id="title">{{ data.page.title|raw }}</h2>
{% for media in data.page.media %}
{% if media.type == "image" %}
<img src="{{ media.url }}">
{% endif %}
{% endfor %}
<div id="content" data-s="{{ data.s }}" data-p="{{ data.p }}">
    {% if data.page.log_type %}
    <div class="read-log {{ data.page.log_type == '|AUTHORLOG|' ? 'authorlog open' : '' }}">
        {% if data.page.log_type != "|AUTHORLOG|" %}
        <button class="log-show">Show {{ data.page.log_name }}</button>
        <button class="log-hide">Hide {{ data.page.log_name }}</button>
        {% endif %}
        <p class="log-content comic-text">
            {{ data.page.text|raw|nl2br }}
        </p>
    </div>
    {% else %}
    <p class="comic-text">
        {{ data.page.text|raw|nl2br }}
    </p>
    {% endif %}
    <div id="commands">
        {% for command in data.page.commands %}
        <div class="command">
            &gt; <a href="/read/{{ data.s }}/{{ command.page }}">{{ command.title|raw }}</a>
        </div>
        {% endfor %}
    </div>
    <div id="page-footer">
        {% if data.page.prev_page %}
        <ul id="page-footer-left">
            <li><a href="/read/{{ data.s }}">Start Over</a></li>
            <li><a href="/read/{{ data.s }}/{{ data.page.prev_page }}">Go Back</a></li>
        </ul>
        {% endif %}
        <a id="options-link" href="javascript:void(0)">Options</a>
    </div>
</div>
{% endblock %}