{% extends "pageframe.html" %}

{% block body_attrs %}
{% for media in data.page.media %}
{% if media.type == "jternia" %}
onload="Sburb.initialize('JterniaDeploy', '{{ media.xml_url }}', false);"
{% endif %}
{% endfor %}
{% endblock %}

{% block body_class %}
{{ data.page.supercartridge ? "supercartridge" }}
{% if data.extra_body_classes %}
{% for class in data.extra_body_classes %}
{{ class }}
{% endfor %}
{% endif %}
{% endblock %}

{% block before_page %}
{% if data.page.supercartridge and data.options.desktop %}
{{ data.page.media[0].html|raw }}
{% endif %}
{% endblock %}

{% block js %}
{% if data.fireflies %}
<script src="/assets/js/firefly.js"></script>
{% endif %}
{% endblock %}

{% block css %}
{% if data.extra_stylesheet %}
<link rel="stylesheet" href="{{ data.extra_stylesheet }}">
{% endif %}
{% if data.fireflies %}
<link rel="stylesheet" href="/assets/css/firefly.css">
{% endif %}
{% if data.gamepad %}
<link rel="stylesheet" href="/assets/css/gamepad.css">
{% endif %}
{% endblock %}

{% block page %}
{% if data.page.supercartridge %}
{% if not data.options.desktop %}
{{ data.page.media[0].html|raw }}
{% endif %}
{% else %}
<h2 id="title">{{ data.page.title|raw }}</h2>
<div id="media" class="{{ data.hscroll ? 'hscroll' : '' }}">
{% for media in data.page.media %}
{% if media.type == "image" %}
<img src="{{ media.url }}">
{% elseif media.type == "flash" %}
{% from "macros/read.html" import flash %}
{{ flash(media.url, media.js_url, media.width, media.height, "#ffffff") }}
{% elseif media.type == "jternia" %}
<div id="JterniaDeploy"></div>
<script src="{{ media.js_url }}"></script>
{% elseif media.type == "supercartridge" %}
{{ media.html|raw }}
{% endif %}
{% endfor %}
{% if data.hscroll %}
<div id="hscroll-arrow">==&gt;</div>
{% endif %}
</div>
{% endif %}
{% if data.fireflies %}
<div class="content">
	<canvas id="fbox_0" class="boxtemplate" style="top: {{ random(0, 100) }}%; left: {{ random(25, 75) }}%;"></canvas>
	<canvas id="fbox_1" class="boxtemplate" style="top: {{ random(0, 100) }}%; left: {{ random(25, 75) }}%;"></canvas>
	<canvas id="fbox_2" class="boxtemplate" style="top: {{ random(0, 100) }}%; left: {{ random(25, 75) }}%;"></canvas>
	<canvas id="fbox_3" class="boxtemplate" style="top: {{ random(0, 100) }}%; left: {{ random(25, 75) }}%;"></canvas>
</div>
{% endif %}
<div id="content" data-s="{{ data.s }}" data-p="{{ data.p }}">
	{% if data.gamepad and not data.options.desktop %}
		{% if data.gamepad is same as(true) %}
			{% include "include/gamepad.html" %}
		{% else %}
			{% include "include/gamepad_" ~ data.gamepad ~ ".html" %}
		{% endif %}
	{% endif %}
	{% from "macros/read.html" import read_text, read_footer, read_commands %}
	{{ read_text(data.page) }}
	<div class="commands">
    {{ read_commands(data.page) }}
	</div>
    {{ read_footer(data.page) }}
</div>
{% endblock %}