<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SBAHJthemovie1</title>
        <style>
            body {
                margin: 0;
            }
        </style>
    </head>
    <body>
        {% from "macros/read.html" import flash %}
        {{ flash(
            "/mspa/sweetbroandhellajeff/movies/SBAHJthemovie1",
            650, 450, "#ffffff"
        ) }}
        {% include "include/ruffle.html" %}
        {% if not data.options.desktop %}
        <script src="/assets/js/flash_size_fix.js"></script>
        {% endif %}
    </body>
</html>