<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>shes8ack</title>
        <style>
            body {
                margin: 0;
                background-color: #ffffff;
            }
        </style>
    </head>
    <body>
        <script src="/mspa/shes8ack/AC_RunActiveContent.js"></script>
        <script>
            if (AC_FL_RunContent == 0) {
                alert("This page requires AC_RunActiveContent.js.");
            } else {
                AC_FL_RunContent(
                    "codebase", "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0",
                    "width", "950",
                    "height", "650",
                    "src", "/mspa/shes8ack/07402",
                    "quality", "high",
                    "pluginspage", "http://www.macromedia.com/go/getflashplayer",
                    "align", "middle",
                    "play", "true",
                    "loop", "true",
                    "scale", "showall",
                    "wmode", "window",
                    "devicefont", "false",
                    "id", "/mspa/shes8ack/07402",
                    "bgcolor", "#ffffff",
                    "name", "/mspa/shes8ack/07402",
                    "menu", "true",
                    "allowFullScreen", "false",
                    "allowScriptAccess","sameDomain",
                    "movie", "/mspa/shes8ack/07402",
                    "salign", ""
                    ); //end AC code
            }
        </script>
        <noscript>
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="950" height="650" id="/mspa/shes8ack/07402" align="middle">
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="false" />
            <param name="movie" value="/mspa/shes8ack/07402.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	<embed src="/mspa/shes8ack/07402.swf" quality="high" bgcolor="#ffffff" width="950" height="650" name="/mspa/shes8ack/07402" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
            </object>
        </noscript>
        {% include "include/ruffle.html" %}
        <script src="/assets/js/flash_size_fix.js"></script>
    </body>
</html>